@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h2>Edit this Patient: @Html.DisplayFor(model => model.Name)</h2>

<hr/>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Birthday)
  @Html.TextBoxFor(model => model.Birthday)

  @Html.Label("Select Doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="Save" />
}

<hr/>

<p>@Html.ActionLink("Back to list", "Index")</p>